* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* центрирование страницы */
.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

body {
  margin: 0;
  padding: 0;
  color: 000;
  background-color: black;
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; 
}

.body {
  min-height: 100%;
  display: grid;
  align-content: start; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

/* стилизация header */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-link {
  padding: 10px 25px;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.phone-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

.navigation {
  list-style: none;
  align-self: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.phone,
.adress {
  color: #fff;
  text-transform: uppercase;
}


main {
  overflow: hidden
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-text {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 100px;
  top: 50px;
}

.swiper-slide img {
  display: block;
  width: 390px;
  height: 260px;
  object-fit: fill;
}

@media (max-width: 1024px) {
  .swiper-slide img {
    width: 100%;
  }
}