* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* центрирование страницы */
.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

body {
  margin: 0;
  padding: 0;
  color: 000;
  background-color: black;
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; 
}

.body {
  min-height: 100%;
  display: grid;
  align-content: start; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

/* стилизация header */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.work-schedule {
  color: #fff;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-link {
  padding: 10px 25px;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.header__navigation-item:hover {
  background-color: #fff;
  color: #000;
}

.header__navigation-item:hover .header__navigation-link {
  color: #000;
}

.phone-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
}

.navigation {
  min-width: 80%;
  list-style: none;
  align-self: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.phone {
  color: #fff;
  text-transform: uppercase;
}

.adress {
  color: #fff;
} 

.phone-text {
  color: #fff;
  margin-right: 10px;
}

main {
  overflow: hidden;
}

.banner {
  padding-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-text {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50px;
  top: 50px;
}

.slide-img {
  display: block;
  width: 100%;
  min-height: 400px;
  object-fit: fill;
}

.serviced_equipment {
  padding-top: 65px;
}

.cards {
  position: relative;
}

.card {
  max-width: 1170px;
  display: flex;
  background-color: grey;
}

.card__header {
  color: #fff;
}

.card__description {
  flex-grow: 1;
  padding: 25px;
}

.card-top {
  clip-path: polygon(0 0, 100% 0, 100% 2%, 0 80%);
}

.card-bottom {
  clip-path: polygon(0 98%, 100% 5%, 100% 100%, 0 100%);
  position: absolute;
  top: 0;
}

.card__description_bottom {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.list-works  {
  list-style-type: none;
  color: #fff;
}

.card__img {
  width: 50%;
}

.reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.reviews__header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
}

.reviews__article {
  min-height: 250px;
  padding: 25px;
}

.reviews__button {
  margin-top: 40px;
  padding: 10px 25px;
  border: 1px solid #FFF;
  cursor: pointer;
  color: #fff;
  align-self: center;
  border-radius: 10px;
  background-color: transparent;
}

.reviews__button:hover {
  background-color: #fff;
  color: #000;
}

.information {
  display: flex;
  align-items: center;
}

.information img {
  width: 50px;
}

.information p {
  padding-left: 10px;
}

.review-text {
  padding: 10px;
}

.about-us h2 {
  color: #fff;
}

.footer h2 {
  color: #fff;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}